body {
color:black;
background: darkslategray;
}

header {
    border-bottom: solid 3px #167ac6;
    padding-top: 20px;
    font-size: 32px;
}
body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(45, 128, 228);
}

section {
    background: rgb(0, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 8%;
}

h1  {
    font-size: 30px;
}
img {
     height: 150PX;
}

.categoria-videos {
     display: flex ;
     overflow= auto;
     gap: 10px;
     
    }